/* Estilo da sobreposição do modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.mainContainer {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  overflow: hidden;
  max-height: 170vw;
  overflow-y: auto;
  animation-duration: 0.3s;
  animation-name: slideForm;
}

.mainContainer h1 {
  font-size: 24px;
  color: #f59d0d;
  font-weight: 700;
  text-align: center;
}


@keyframes slideForm {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.mainContainer label {
  font-weight: bold;
}

.headContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 5px;
}

.headContainer p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.iconHelp,
.iconClose {
  cursor: pointer;
  color: #f59d0d;
  font-size: 24px;
  transition: color 0.3s ease;
}
.iconHelp:hover {
  color: #007bff;
}

.iconClose:hover {
  color: #d9534f;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 0px;
}

/* Inputs vão da viga e vão oposto */

.inputsContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 0px 0;
  width: 100%;
}

.inputsContainer div {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  width: 100%;
}

.inputsContainer label {
  font-size: 14px;
  font-weight: bold;
}

.textBox {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
  width: 100%;
}

.textBox:focus {
  border-color: #f59d0d;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.288);
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.imageWrapper p {
  font-weight: bold;
}

.imageWrapper img {
  height: 300px;
  width: auto;
}

.labelMedidasContainer {
  font-weight: bold;
  margin-bottom: 5px;
}

.labelMedidasContainer p {
  margin-bottom: 5px;
}

.submitButton {
  background-color: #f59d0d;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submitButton:hover {
  background-color: rgb(245, 156, 13);
  transform: scale(1.02);
}

.labelContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navButtonsContainer {
  display: flex;
  justify-content: space-between; /* Mantém os botões separados */
}

.navButtonsContainer button {
  background-color: #f59d0d; /* Cor principal do botão */
  color: white; /* Cor do texto */
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
  min-width: 49.6%;
}

.navButtonsContainer button:disabled {
  background-color: #b0b0b0; /* Cor para botões desativados */
  cursor: not-allowed;
}

.navButtonsContainer button:not(:disabled):hover {
  background-color: #f59d0d; /* Cor ao passar o mouse */
  transform: scale(1.05);
}

.navButtonsContainer button:nth-child(1) {
  background-color: #6c757d75;
}

.navButtonsContainer button:nth-child(1):hover {
  background-color: #5a6268; /* Cor ao passar o mouse no botão "Voltar" */
  transform: scale(1.05);
}

.fieldset {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-align: left;
  align-items: center;
}

.mainContainer .separador {
  margin: 0;
}

.inputs {
  display: flex;
  flex-direction: row;
  gap:20px;
  align-items: center;
  text-align: center;
}

.legenda {
  font-weight: bold;
  font-size: 14px;
}

.inputs label {
  /* margin: 5px; */
  font-size: 12px;
  align-items: center;
  display: flex;
  gap: 5px;
}



@media (max-width: 780px) {
  .inputsContainer {
    flex-direction: column;
    gap: 10px;
  }

  .imageWrapper img {
    height: 200px;
    width: auto;
  }
  
}

@media (max-width: 480px) {
  .inputsContainer {
    flex-direction: column;
    gap: 10px;
  }

  .imageWrapper img {
    height: 200px;
    width: auto;
  }
  
}
