.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .mainContainer {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    align-items: center;
    max-width: 500px;
    width: 90%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    max-height: 170vw;
    overflow-y: auto;
  }
  
  .mainContainer img {
    display: block;
    margin: 0 auto;
  }
  
  .headContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .headContainer svg {
    color: #f59d0d;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .headContainer svg:hover {
    color: #d9534f;
  }
  
  .mainContainer h1 {
    font-size: 24px;
    color: #f59d0d;
    font-weight: 700;
    text-align: center;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 16px;
    width: 100%;
  }
  
  .inputContainer label {
    font-size: 14px;
    font-weight: bold;
    color: black;
  }
  
  .inputContainer select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
  }
  
  /* Efeitos ao focar no select */
  .inputContainer select:focus {
    border-color: #f59d0d;
    box-shadow: 0 0 4px #f59c0d41;
    background-color: #fff;
  }
  
  .mainInputContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
  }
  
  .navButtonsContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  .navButtonsContainer button {
    background-color: #f59d0d;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    width: 100%;
  }
  
  .navButtonsContainer button:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
  }
  
  .navButtonsContainer button:not(:disabled):hover {
    background-color: #f59d0d;
    transform: scale(1.03);
  }
  