/* Container Principal */
.mainContainer {
  width: 100%;
  padding: 50px;
  background-color: white;
  padding-top: 30px;
}

.footerContainer {
  position: relative;
  bottom: 5%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top: 2px solid rgba(128, 128, 128, 0.427);
  width: 100%;
  box-sizing: border-box;
}

.footerContainer button {
  position: relative;
  top: 20px;
  right: 20px;
  padding: 20px;
  background-color: #f59d0d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.footerContainer button:hover {
  background-color: #e68907;
  transform: scale(1.03);
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.buttonsContainer button {
  background-color: #f59d0d;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.buttonsContainer button:hover {
  background-color: #e68907;
}

.buttonsContainer span {
  font-size: 25px;
  font-weight: bold;
  color: #f59d0d;
}

.mainContainer h1 {
  margin-top: 0;
  font-weight: bold;
  font-size: 2rem;
}

.mainContainer hr {
  margin: 20px 0;
  border: 0;
  border-top: 2px solid #ddd;
}

/* Tabela */
.tableContainer {
  overflow-x: auto;
  margin-bottom: 20px;
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
}

.tableContainer th,
.tableContainer td {
  padding: 12px 15px;
  text-align: left;
  border: none;
}

.tableContainer th {
  background-color: #fce2b6;
  color: black;
}

.tableContainer tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tableContainer tr:hover {
  background-color: #f1f1f1;
}

.tableContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.tableContainer button:hover {
  color: #f59d0d;
  transform: scale(1.2);
}

.tableContainer td button {
  margin-right: 10px;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalHeader h2 {
  margin: 0;
}

.closeButton {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.closeButton:hover {
  color: #f59d0d;
}

/* Success Message */
.successMessage {
  background-color: #28a745;
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.successMessage button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.successMessage button:hover {
  color: #0056b3;
}

/* Modal Form Styles */
.formContainer {
  margin-top: 20px;
}

.formContainer input,
.formContainer select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.formContainer label {
  font-weight: bold;
  font-size: 14px;
}

.formContainer .formButtons {
  display: flex;
  justify-content: space-between;
}

.formContainer .formButtons button {
  background-color: #f59d0d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formContainer .formButtons button:hover {
  background-color: #e68907;
}

/* Responsividade para telas menores, como tablets */
@media (max-width: 768px) {
  .mainContainer {
    padding: 20px;
  }

  .footerContainer {
    padding: 10px;
    bottom: 10px;
  }

  .footerContainer button {
    padding: 8px 16px;
    top: 4px;
  }

  .buttonsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .buttonsContainer span {
    font-size: 20px;
  }

  .modalContent {
    width: 90%;
  }
}

/* Responsividade para telas muito pequenas, como celulares */
@media (max-width: 480px) {
  .mainContainer {
    padding: 10px;
  }

  .footerContainer {
    padding: 5px;
    bottom: 5px;
  }

  .footerContainer button {
    padding: 5px 10px;
    font-size: 14px;
  }

  .buttonsContainer {
    flex-direction: row;
    align-items: flex-start;
  }

  .buttonsContainer span {
    font-size: 30px;
  }

  .buttonsContainer button {
    margin-bottom: 10px;
  }

  .tableContainer table {
    table-layout: auto;
  }
  .tableContainer table th,
  .tableContainer table td {
    font-size: 12px;
    white-space: nowrap;
  }

  .tableContainer table td svg {
    width: auto;
    height: 20px;
    white-space: nowrap;
  }

  .modalContent {
    width: 95%;
    padding: 20px;
  }

  .successMessage {
    padding: 10px;
  }
}
