
/* Footer container */
.footer {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #333;
    padding: 20px 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2); */
    font-size: 16px;
    margin-top: 20px;
  }
  
  /* Links */
  .footer a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #f59d0d;
    text-decoration: underline;
  }
  
  /* Info section */
  .infoContainer {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
    gap: 30px;
  }
  
  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logoContainer img {
    transition: transform 0.3s ease;
  }
  
  .logoContainer img:hover {
    transform: scale(1.1);
  }
  
  .iconInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 10px;
  }
  
  /* Social icons */
  .iconContainer {
    display: flex;
    gap: 12px;
  }
  
  .iconContainer .span {
    background-color: #f59d0d;
    padding: 8px;
    border-radius: 50%;
    color: white;
    display: flex;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
  }
  
  .iconContainer .span:hover {
    background-color: #333;
    transform: scale(1.1);
  }
  
  /* Copy section */
  .copyContainer {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    font-size: 14px;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .infoContainer {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .logoContainer,
    .iconInfoContainer {
      align-items: center;
    }
  
    .iconContainer {
      justify-content: center;
    }
  }
  